*.sw*
*.gpg
*.env
rsync*
notes
temp*/
build/
target/
/target
**/*.rs.bk
**/examples/get-utxos-output
**/examples/make-online-tx-output
**/examples/make-offline-tx-output
**/examples/get-utxos-for-address-output
**/examples/make-offline-op-return-output
**/examples/make-online-op-return-output
